@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Body styling */

body {
    padding: 2% 2%;
    background-color: #ffa530;
    font-family: Nunito, Verdana, Geneva, Tahoma, sans-serif;
}

/* main {
    flex: 1 0 auto; As seen in Love Running walkthrough project 
} */ 

/* header {
    width: fit-content;
} */

/*Styling for span within header*/
header > span {
    display: block;
    background-color: white;
    height: 25%;
}

/*Styling for h1 to override span styling*/
h1 {
    font-weight: 100;
    margin: 0 3%;
}

/* Button styling for True and False buttons */
#true {
    background-color: red;
    height: 40px;
    width: 75px;
}

#false {
    background-color: green;
    height: 40px;
    width: 75px;
}


/* Button styling for next question button */
#goToNextQuestion {
    background-color: orangered;
    height: 50px;
    width: 85px;
}


#testDiv {
    background-color: whitesmoke;
    padding: 5%;
    height: auto;
    width: fit-content;
}

p {
    color: black;
    background-color: transparent;
}

/* footer {
    position: absolute;
} */

/* MEDIA QUERIES TO GO HERE */
@media screen and (min-width: 320px) {
    body {
        display: flex;
        flex-direction: column;
    }
   
}