
/* Body styling */

body {
    padding: 2% 2%;
    background-color: #ffa530;
}

/* header {
    width: fit-content;
} */

/*Styling for span within header*/
header > span {
    display: block;
    background-color: white;
    height: 25%;
}

/*Styling for h1 to override span styling*/
h1 {
    font-weight: 100;
    margin: 0 3%;
}

#testDiv {
    background-color: whitesmoke;
    padding: 5%;
    height: auto;
    width: fit-content;
}

p {
    color: black;
    background-color: transparent;
}
/* 
footer {
    position: absolute;
} */