body {
    padding: 2% 2%;
    background-color: #ffa530;
}

#testDiv {
    background-color: whitesmoke;
    padding: 5%;
    height: auto;
    width: fit-content;
}

p {
    color: black;
    background-color: transparent;
}